* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(./bg.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: bottom;
    /* transition: all 0.5s; */
}

img {
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 150px;
    }